/* Varialble*/
.item-bottom-border {
  border-bottom: 1px solid black;
  padding: 1%;
  margin: 0; }

.custom-row {
  margin: 2% 0;
  padding: 2% 0; }

.white-background, .side-nav-parent, .side-nav {
  background: #fff; }

.side-nav-parent {
  height: 120em; }

.side-nav {
  padding: 0;
  list-style: none; }
  .side-nav li {
    padding: 5%;
    margin: 5%;
    font-size: 1.5em; }

.label-padding {
  padding: 2%; }

.notice-padding {
  padding: 0 2%; }

.border-top, .inner-row, .inner-row-col-1, .col-body {
  border-top: 2px solid #000; }

.inner-row {
  margin: 0; }

.inner-row-col {
  margin: 4% 0.5%;
  width: 49%; }

.inner-row-col-1 {
  margin: 1%; }

.col-header-label {
  font-size: 1.5em; }

.col-body {
  padding-top: 5%; }

.col-body-content {
  height: 15em; }

.col-body-content-feed {
  height: 20.7em; }

.col-footer {
  border-top: 1px solid blue;
  text-align: center;
  padding: 2.3%; }

.page-content {
  margin-top: 2%;
  background: gray; }

.col-header {
  margin-left: -15px; }

.feed-col-2 {
  padding: 1% 0; }
  .feed-col-2 ul {
    border-left: 1px solid gray; }

.display-inline-block {
  display: inline-block; }
